<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smartstudy.qrcode">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application>
        <activity
            android:name=".CodeScanActivity"
            android:resizeableActivity="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnchanged|adjustResize" />
    </application>

</manifest>
