<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.qiyukf.unicorn">
    <!-- 加入应用需要的权限 -->
    <!-- 网络相关 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- 手机状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission
        android:name="android.permission.CHANGE_CONFIGURATION"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <!-- 读写文件 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 多媒体 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!--8.0安装应用需要此权限-->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application>
        <!-- 声明云信后台服务 -->
        <service
            android:name="com.qiyukf.nimlib.service.NimService"
            android:process=":qiyu" />
        <service
            android:name="com.qiyukf.nimlib.service.NimService$Aux"
            android:process=":qiyu" />
        <service
            android:name="com.qiyukf.unicorn.analytics.AnalyticsService"
            android:process=":qiyu" />

        <!-- 云信SDK的监视系统启动和网络变化的广播接收器，用户开机自启动以及网络变化时候重新登录 -->
        <receiver
            android:name="com.qiyukf.nimlib.service.NimReceiver"
            android:exported="false"
            android:process=":qiyu">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <!-- 云信进程间通信receiver -->
        <service android:name="com.qiyukf.nimlib.service.WakeupService" />

        <activity-alias
            android:name="com.qiyukf.unicorn.ui.activity.ServiceMessageActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:icon="@drawable/ysf_action_bar_icon_transparent"
            android:screenOrientation="portrait"
            android:targetActivity="com.meeruu.qiyu.activity.QiyuServiceMessageActivity"
            android:theme="@style/ysf_window_theme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <activity
            android:name="com.meeruu.qiyu.activity.QiyuServiceMessageActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:icon="@drawable/ysf_action_bar_icon_transparent"
            android:screenOrientation="portrait"
            android:theme="@style/ysf_window_theme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <activity-alias
            android:name="com.qiyukf.nim.uikit.session.activity.WatchMessagePictureActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:targetActivity="com.meeruu.qiyu.activity.QiyuWatchMsgPicActivity"
            android:theme="@style/ysf_window_theme"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name="com.meeruu.qiyu.activity.QiyuWatchMsgPicActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/ysf_window_theme"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity-alias
            android:name="com.qiyukf.nim.uikit.session.activity.PickImageActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:targetActivity="com.meeruu.qiyu.activity.QiyuPickImageActivity"
            android:theme="@style/ysf_window_theme"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name="com.meeruu.qiyu.activity.QiyuPickImageActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/ysf_window_theme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity-alias
            android:name="com.qiyukf.nim.uikit.common.media.picker.activity.PickerAlbumActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:targetActivity="com.meeruu.qiyu.activity.QiyuPickerAlbumActivity"
            android:theme="@style/ysf_window_theme" />

        <activity
            android:name="com.meeruu.qiyu.activity.QiyuPickerAlbumActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/ysf_window_theme" />
        <activity-alias
            android:name="com.qiyukf.nim.uikit.common.media.picker.activity.PickerAlbumPreviewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:targetActivity="com.meeruu.qiyu.activity.QiyuPickerAlbumPreviewActivity"
            android:theme="@style/ysf_window_theme" />

        <activity
            android:name="com.meeruu.qiyu.activity.QiyuPickerAlbumPreviewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/ysf_window_theme" />
        <activity-alias
            android:name="com.qiyukf.nim.uikit.common.media.picker.activity.PreviewImageFromCameraActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/ysf_input_panel_take"
            android:screenOrientation="portrait"
            android:targetActivity="com.meeruu.qiyu.activity.QiyuPreviewImageFromCameraActivity"
            android:theme="@style/ysf_window_theme"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name="com.meeruu.qiyu.activity.QiyuPreviewImageFromCameraActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/ysf_input_panel_take"
            android:screenOrientation="portrait"
            android:theme="@style/ysf_window_theme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity-alias
            android:name="com.qiyukf.unicorn.ui.activity.FileDownloadActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/ysf_activity_file_download"
            android:screenOrientation="portrait"
            android:targetActivity="com.meeruu.qiyu.activity.QiyuFileDownloadActivity"
            android:theme="@style/ysf_window_theme" />

        <activity
            android:name="com.meeruu.qiyu.activity.QiyuFileDownloadActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/ysf_activity_file_download"
            android:screenOrientation="portrait"
            android:theme="@style/ysf_window_theme" />
        <activity-alias
            android:name="com.qiyukf.unicorn.ui.activity.UrlImagePreviewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:targetActivity="com.meeruu.qiyu.activity.QiyuUrlImagePreviewActivity"
            android:theme="@style/ysf_window_theme" />

        <activity
            android:name="com.meeruu.qiyu.activity.QiyuUrlImagePreviewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/ysf_window_theme" />
        <activity-alias
            android:name="com.qiyukf.unicorn.ui.activity.CardPopupActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:targetActivity="com.meeruu.qiyu.activity.QiyuCardPopupActivity"
            android:theme="@style/ysf_window_theme" />

        <activity
            android:name="com.meeruu.qiyu.activity.QiyuCardPopupActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/ysf_window_theme" />
        <activity-alias
            android:name="com.qiyukf.unicorn.ui.activity.LeaveMessageDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/ysf_activity_leave_message_detail"
            android:screenOrientation="portrait"
            android:targetActivity="com.meeruu.qiyu.activity.QiyuLeaveMessageDetailActivity"
            android:theme="@style/ysf_window_theme" />

        <activity
            android:name="com.meeruu.qiyu.activity.QiyuLeaveMessageDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/ysf_activity_leave_message_detail"
            android:screenOrientation="portrait"
            android:theme="@style/ysf_window_theme" />
        <activity-alias
            android:name="com.qiyukf.nim.uikit.session.activity.CaptureVideoActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:targetActivity="com.meeruu.qiyu.activity.QiyuCaptureVideoActivity"
            android:theme="@style/ysf_window_theme"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name="com.meeruu.qiyu.activity.QiyuCaptureVideoActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/ysf_window_theme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity-alias
            android:name="com.qiyukf.nim.uikit.session.activity.WatchVideoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/ysf_video_play"
            android:screenOrientation="portrait"
            android:targetActivity="com.meeruu.qiyu.activity.QiyuWatchVideoActivity"
            android:theme="@style/ysf_window_theme" />
        <activity
            android:name="com.meeruu.qiyu.activity.QiyuWatchVideoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/ysf_video_play"
            android:screenOrientation="portrait"
            android:theme="@style/ysf_window_theme" />
    </application>
</manifest>
