<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<true/>
	<key>method</key>
	<string>ad-hoc</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.meeruu.sharegoods</key>
		<string>adhoc</string>
	</dict>
	<key>signingCertificate</key>
	<string>DE63107BE6512B81B8D384B26B4568AFC7EC1E68</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>T586HGP9C9</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>
